{% extends '@admin/layout.twig' %}

{% block head %}
<title>Articles</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/3.0.2/timeago.min.js" integrity="sha512-+HwB8Magvpg+0LZ4APOss9s3mopC9KUMq1/gQbCEaZ9fjSl6vWuVbvo6Nt+2dGfEqNVTZ+NVasiAfBy58kRCLg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/3.0.2/timeago.locales.min.js" integrity="sha512-kjHDpsRVaJ0pxKiXH4ibysg7971Epm80gABnxVYgtMiU4fSll6NaAhzUD4NXg++ihdC160LuogIzwh2b74rP4g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}

{% block content %}
    <h1 class="text-center">Articles en vente : </h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <td class="align-middle text-center">Image</td>
                <td class="align-middle text-center">Nom</td>
                <td class="align-middle text-center">Description</td>
                <td class="align-middle text-center">Modification</td>
                <td class="align-middle text-center">Action</td>
            </tr>
        </thead>
        <tbody>
            {% for article in items %}
                <tr>
                    <td class="align-middle text-center"><img src="{{article.getImageFormat(article.showImages(), 'icon')}}" alt="{{article.__get('name')}}"></td>
                    <td class="align-middle text-center">{{article.__get('name')}}</td>
                    <td class="align-middle text-center">{{article.__get('description')|nl2br|exerpt()}}</td>
                    <td class="align-middle text-center">modifié {{article.__get('updated_at')|ago}} </td>
                    <td class="align-middle text-center">
                        <form style="display: inline;" action="{{pathFor('admin.article.delete', {id: article.__get('id')})}}" method="post" onsubmit="return confirm('Etes-vous sur de vouloir supprimer cette article');">
                            {{form_token(pathFor('admin.article.delete', {id: article.__get('id')}))}}
                            <input type="hidden" name="_method" value="DELETE">
                            <button class="btn btn-danger">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ paginateExtension(items, 'admin.article.index') }}

    <script>
        timeago().render(document.querySelectorAll('.timeago'), 'fr')
    </script>

{% endblock %}